/* Stili per il componente MainChart */
.main-chart-container {
  padding: 24px;
  min-height: 240px;
  color: #f3f4f6;
}

.main-chart-title {
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 24px;
}

.main-chart-icon {
  margin-right: 6px;
}

.main-chart-responsive {
  width: 100%;
  height: 180px;
}
